.panel.widget.center.bgimage {
    display: none !important;
}

.voyager .navbar .navbar-header .navbar-brand, .voyager .navbar.navbar-default .navbar-header .navbar-brand {
    color: #FFF !important;
    height: 80px !important;
}

nav.navbar.navbar-default.navbar-fixed-top.navbar-top {
    background: #BABABD;
    height: 80px;
}

.logo-icon-container img {
    width: 210px !important;
  height:auto !important;
     margin-left: 20px;
  margin-top:20px;
}

.big {
    font-size: 25px;
    color: #5D5F64;
}

li.navicon {
    margin-top: 20px;
}
li.navicon2 {
    margin-top: 10px;
}
.voyager .side-menu.sidebar-inverse {
    background: #5D5F64;
    background: linear-gradient(45deg,#5D5F64 0,#5D5F64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5D5F64', endColorstr='#5D5F64', GradientType=1 );
    overflow-x: hidden;
    transition: width .5s cubic-bezier(.19,1,.22,1);
}

.voyager .btn.btn-success {
    background: #FFF;
    color: #000;
    border: solid 1px #f2f2f2;
    border-radius: 3px;
    opacity: .9;
}
.voyager .btn.btn-danger {
    background: #FFF;
    color: #D91E18;
    border: solid 1px #f2f2f2;
    border-radius: 3px;
    opacity: .9;
}

.voyager .btn.btn-danger:hover {
    background: red;
  color:#fff;
}

.voyager .btn.btn-success:hover {
    background: #BABABD;
  color:#fff;
}

.btn.btn-primary {
    color: #fff;
    opacity: .9;
    background: #BABABD;
    border: 0;
    border-radius: 3px;
}

.voyager .btn.btn-warning {
    background: #5D5F64;
    color: #fff;
    border: 0;
    border-radius: 3px;
    opacity: .9;
}
.voyager .breadcrumb a {
    color: #999 !important;
}

.breadcrumb {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 30px;
}

.site-footer-right {
    display: color: #999 !important;
}

.voyager .pagination .active span, .voyager .pagination .active>a, .voyager .pagination .active>a:focus, .voyager .pagination .active>a:hover, .voyager .pagination .active>span:focus, .voyager .pagination .active>span:hover {
    z-index: 3;
    color: darkgray;
    cursor: default;
    background-color: #F0F0F0;
    border-color: #F0F0F0;
    outline: 0;
}

.login-logo{
  padding:25px;
  float:right;
  
}

.voyager .side-menu.sidebar-inverse .navbar li>a {
    color: #f0f0f0;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
}

body.login .faded-bg {
    background: transparent !important;
    background: transparent !important;
}  

body.login .login-button {
    color: #ccc;
    border: solid 1px lightgray;
}

.login-logo {
    padding: 45px 85px 0 0;
    float: right;
    margin-top: 5%;
}
.voyager .app-footer {
    display: none !important;
}
.login-container h4 {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
}

.table img {
    max-height: 100px !important;
    width: auto !important;
}

.voyager .panel.panel-primary .panel-heading {
    background-color: #f8fafc !important;
    border-bottom: solid 4px #e9e9e9 !important;
    color: #76838f !important;
    margin-bottom: 10px !important;
}

.fc-time-grid-container {
    height: auto !important;
}

.fc-button {
    background: white !important;
    border-radius: 2px !important;
    border-bottom: solid 2px lightgray !important;
    color: #999 !important;
}

.fc-day-grid {
    display: none !important;
}

.col1 img, .col2 img, .col3 img {
    max-width: 100%;
    height: auto;
}

.col1, .col2, .col3 {
    padding: 30px 100px 30px 100px;
}

.noticias {
    padding: 30px;
    margin: 0px 35px 45px 45px;
}

.avisos {
    margin-top: 25px;
    background-color: #eee;
    padding: 10px 30px 20px 30px;
  width:95%;
  height:280px;
}

.noticias {
    margin: 25px 45px 25px 45px;
}

.avisos h2 {
    margin-left: 10px;
    margin-bottom: 10px;
}

.avisos {
    margin-left: 15px;
    max-width: 320px;
    margin-bottom: 25px;
}

.links {
    margin-top: 50px;
}

.not-active {
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none !important;
  color:red;
}

a {
    color: gray; !important;
    text-decoration: none !important;
}


.cont_arch {
      background-repeat: no-repeat;
    background-size: cover;
  background-image:url('storage/settings/August2018/5eDhnTR0hB5kEkh6xUNM.png') !important;
}


.clickable {
    cursor: pointer;
    color: black;
}

.bann {
    background: #ecf0f1;
  padding: 10px;
      border: solid 2px #eee;
}

.linteres {
    background: #ecf0f1;
  margin-top:25px;
  padding: 0;
      border: solid 2px #eee;
  min-height: 300px !important;
}
.cabecera{
  border-bottom:solid 1px lightgray;
}


.cabecera h1 {
    display: inline-block;
    font-size: 18px;
    color: #555;
    font-weight: 700;
}

.linteres ul {
    margin-top: 20px;
}

.linteres  li:before {
  content: "\f054"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.linteres li {
    padding: 10px 0;
    list-style: none;
    color: lightgray;
  border-bottom: solid 1px whitesmoke;
}

.linteres li:hover {
    margin-left:1px;
  background:whitesmoke;
  
}

.linteres a {
    color: #666;
    font-weight: 600;
}

.voyager .alert.alert-info {
    background-color: whitesmoke;
    color: #e73345;
    font-weight: 600;
}
.destacada {
    background: #e73345;
    color: white;
    margin-top: -40px;
    z-index: 999;
    height: 40px;
    position: absolute;
    padding: 10px 25px 20px 25px;
    font-weight: 600;
}

.canv {
  background:whitesmoke;
  padding:12px;
  margin-left: 17px;
  height: 700px;
      border: solid 2px #eee;
  border-left:solid lightgray 4px;
}
.canv h1 {
    font-size: 25px;
    font-weight: 600;
}
.canv_des a{
  color:#999;
}
.canv2 {
  background:transparent;
  padding:12px;
}

.secu{margin-bottom:25px;}

.secu h2 {
    font-size: 18px;
    font-weight: 600;
}

.secu a {
    color: #444 !important;
    text-decoration: none;
}

.secu a:hover{
    color: #000 !important;
    text-decoration: none;
}

img#my_image {
    width: auto !important;
    height: 34px !important;
    margin-left: 19px !important;
}

.expanded img#my_image {
    width: auto !important;
    height: 30px !important;
    margin-left: 3px !important;
}


a#bulk_delete_btn {
    display: none !important;
}
div#search-input:nth-child(4) {
    display: none !important;
}

.marco {
    padding: 20px;
    background: white;
   max-width: 600px;
      text-align: center;
      float: none;
    display: table-cell;
    vertical-align: bottom;
}

.digitos {
  background:#e9e9e9;
  padding:25px;
  border-radius:10px;
}

.col-sm-7.numeros {
    font-size: 2.5em !important;
    font-family: 'Orbitron', sans-serif !important;
  font-weight:700;
  width: 470px;
}

button.full {
    width: 100% !important;
}

input.btn.reloj {
    width: 90%;
    background: #333;
    color: white;
    padding: 15px;
    border-radius: 6px;
}

input.btn.reloj:hover {
    background: #d23742;
}

.imgperf img{max-width:120px;}

.datos {
    background: #f5f6fa;
    height: 400px;
    padding: 5% 0 0 10%;
}
.inferior{ margin-top 50px !important;}

select {
    border-radius: 3px;
    width: 26%;
    margin-top: 5px;
    margin-bottom: 25px;
    height: 42px;
    border: solid 2px gray;
    font-size: 14px;
    color: gray;
    background: whitesmoke;
}

input.btn.receso {
    width: 90%;
}

a.btn.btn-dark {
    color: white !important;
    text-transform: lowercase !important;
    font-size: .8em;
    max-height: 40px;
}

.salasbt {
    width: 90%;
    height: 200px;
    margin: 25px;
}

.row.datososc {
    background: #222f3e;
    padding: 25px;
    color: lightgrey;
    margin: 15px;
    border-radius: 2px;
}

.row.datososc2 {
    background: whitesmoke;
    padding: 25px;
    color: darkgray;
    margin: 15px;
    border-radius: 2px;
}

.input-sm {
    height: 40px !important;
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: .5px !important;
    background: #f1f2f6 !important;
    box-shadow: none !important;
    color: gray !important;
  
}

.table>tbody>tr>td{
    padding: 0px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.objetivos_tab{
  padding:10px 40px;
}
.tabla1{
  padding:0 10px;
}
.btngrn {
    background: #d33440 !important;
}

.firmas {
    text-align: center;
}

a.btn.firma {
    width: 30%;
}

.error {
    font-size: 12px;
    font-family: arial;
    font-weight: 400;
    color: gray;
}

.camino {
    margin-top: 15px;
}

textarea {
  resize: none;
}


h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 16px;
  font-weight: 400;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:24%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 5.25%;
  text-align:right
} 

.like {
    margin: 0 90px;
    border: solid 1px whitesmoke;
    background: #fbfbfb;
}

.recomienda {
    text-align: center;
    padding: 25px;
    background: whitesmoke;
    margin: 0 90px;
   border: solid 1px lightgray;
}



.t_neg {
    margin-top: 25px;
    margin-bottom: 0 !important;
    padding: 10px 0;
    background:black;
    color:white;
  text-align:center;
  font-weight:600;
}

.t_gris{
    background: whitesmoke;
    color: #666;
    padding: 10px;
    text-align:center;
    border: solid 2px #e3e3e3;
}

.row.resumen {
  margin: 0 90px;
} 

input#test2 {
    margin-left: 25px;
}

textarea#mejoras {
    border: solid 1px #e3e3e3;
    border-radius: 5px;
    color: #666;
    padding: 10px;
}

.table-responsive {
    margin: 0 90px;
}

.li_head {
    text-align: center;
    background: #ccc;
    color: white;
    padding: 10px;
    font-weight: 600;
}

table#tablePreview {
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.list-group-item {
  user-select: none;
}

.list-group input[type="checkbox"] {
  display: none;
}

.list-group input[type="checkbox"] + .list-group-item {
  cursor: pointer;
}

.list-group input[type="checkbox"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: 1em;
}

.list-group input[type="checkbox"]:checked + .list-group-item {
  background-color: #2d3436;
  color: #FFF;
}

.list-group input[type="checkbox"]:checked + .list-group-item:before {
  color: inherit;
}

label.list-group-item.firma {
    background: #d33440;
    color: white;
}

label.list-group-item.firmado {
    background: #3498db;
    color: white;
}

.responsables {
    background: whitesmoke;
    padding: 25px;
    color: #999;
}

.li_head {
    margin-bottom: 10px;
}


label.list-group-item.clase1 {
    background: #bdc3c7 !important;
}

.ads button{
    pointer-events:none;
}

.container.ads {
  pointer-events:none;
}

.ing {
    background: #d33440;
    color: white;
    padding: 3px 13px;
    border-radius: 5px;
}

.ing1 {
    background: #55B559;
    color: white;
    padding: 3px 17px;
    border-radius: 5px;
}